<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Restaurant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="menuDiscount" value="20" />
    <add key="orderPriceGreaterThanForDelivery" value="50" />
    <add key="numberMinOrders" value="5" />
    <add key="discountTime" value="7" />
    <add key="deliveryCost" value="15" />
    <add key="orderDiscount" value="10" />
    <add key="orderPriceGreaterThanForDiscount" value="70" />
    <add key="deliveryTime" value="45" />
    <add key="minTotalQuantity" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Restaurant.Properties.Settings>
      <setting name="OrderNumber" serializeAs="String">
        <value>1000</value>
      </setting>
    </Restaurant.Properties.Settings>
  </userSettings>
<connectionStrings><add name="RestaurantEntities" connectionString="metadata=res://*/Models.RestaurantModel.csdl|res://*/Models.RestaurantModel.ssdl|res://*/Models.RestaurantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6DRLR0P\SQLEXPRESS;initial catalog=Restaurant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>